/* Custom styles. */

/* 滚动条 */
::-webkit-scrollbar {
    width: 1rem;
    height: .5rem;
}


/* 首页头部 */
.home-profile {
    background: white;
	opacity: .85;
}


/* 首页文章摘要 */
.home[posts] .summary {
	margin-bottom: .1rem;
	padding-left: 2rem;
	padding-right: 2rem;
    background: white;
	opacity: .95;
}


/* 首页的分页页码 */
.pagination {
    margin-top: .1rem;
    margin-bottom: 0;
	padding: 1rem 0 .5rem 0;
    background: white;
	opacity: .95;
}

/* 字体 */
.home[posts] .summary .content {
    color: #161209;
}

.single .single-title {
	font-size: 1.8rem;
}


/* 文章正文 */
.page.single {
    width: 51.5%;
	padding-left: 2rem;
	padding-right: 2rem;
    background: white;
	opacity: .95;
}

/* 文章脚部 */
.single .post-footer {
    margin-top: 0;
}


/* 页面脚部 */
.footer {
    display: block;
	border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #a166ab;
    position: relative;
    max-width: 800px;
    width: 60%;
    margin: .1rem auto 0 auto;
    background: white;
	opacity: .95;
}

@media only screen and (max-width: 1440px) {
    .footer {
        width:54.5%
    }
}

@media only screen and (max-width: 1200px) {
    .footer {
        width:50.5%
    }
}

@media only screen and (max-width: 960px) {
    .footer {
        width: 77%
    }
}

@media only screen and (max-width: 680px) {
    .footer {
        width: 95%
    }
}


/* 目录 */
.toc {
    background: white;
	opacity: .95;
}

.toc .toc-content {
    font-size: .875rem;
}


/* 标题 */
.page.single h2 {
    box-shadow: rgb(95, 90, 75) 0px 0px 0px 1px, rgba(10, 10, 0, 0.5) 1px 1px 6px 1px;
    color: rgb(255, 255, 255);
    font-family: 微软雅黑, 宋体, 黑体, Arial;
    font-weight: bold;
    line-height: 1.3;
    text-shadow: rgb(34, 34, 34) 2px 2px 3px;
    background: rgb(43, 102, 149);
    border-radius: 6px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 7px;
    margin: 18px 0px 18px -10px !important;
}


/* 评论 */
.v[data-class=v] .vcards .vcard .vh {
    border-bottom: 1px dashed #ccb5b5 !important;
}

.single #comments {
    padding: 4rem 0 2rem 0;
}


/* 归档、标签、分类页面 */
.page.archive {
    padding-bottom: 1rem;
    background: white;	
	opacity: .95;
}

.archive .single-title {
    padding-right: 1rem;
}

.archive .group-title {
    padding-left: 1rem;
}

.archive .archive-item {
    padding-right: 1rem;
}

.archive .tag-cloud-tags {
    padding: 0 .5rem;
}

.archive .card-item-title a sup {
    color: #a9a9b3;
	font-weight: initial;
}

.archive .group-title sup {
    color: #a9a9b3;
	font-weight: initial;
}

.archive .single-title.animated.pulse.faster sup {
	margin-left: .4rem;
    color: #a9a9b3;
	font-weight: initial;
}


/* 行内代码块 */
code {
    margin: 0 .2rem;
    font-size: .9em;
    border: 1px solid #d6d6d6;
    border-radius: .2rem;
}

/* 预格式代码块(用tab键插入的代码块) */
pre code {
    margin: 0;
    border: none;
    font-size: .875rem;
}

/* 标题里的代码块样式 */
.page.single .content>h2 code {
    color: #f7ab01;
    background: transparent;
    border: none;
}


/* 搜索页面 */
.search {
    position: relative;
    padding-top: 3.5rem;
    padding-bottom: 1rem;
    max-width: 800px;
    width: 60%;
    margin: 0 auto;
    background: white;
    opacity: .95;
}

[theme=dark] .search header,
.search header {
    background-color: #f8f8f8;
}

[theme=dark] .search header:hover,
.search header:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.search header h1 {
    padding-left: 1rem;
    background: white;
    opacity: .95;
}

[theme=dark] .search input,
.search input {
	height: initial;
    width: initial;
    color: initial;
	background-color: white;
	margin: 0 0 0 1rem;
	border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.search #search-results {
    padding-left: 1rem;
    padding-right: 1rem;
}

[theme=dark] a:active, [theme=dark] a:hover {
    color: #2d96bd;
}

.search hr {
    margin-left: 1rem;
    margin-right: 1rem;
}